/* Definições das imagens */

.FotoEu, .GitHub, .Spotify{
    border-radius: 50%;
}

.Spotify {
    width: 20%;
}

.FotoEu {
    width: 25%;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.GitHub {
    width: 25%;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
}

/* Animações */

.animation_git {
    animation: github 1s forwards;
}

.animation_eu {
    animation: eu 1s forwards;
}

@keyframes github {
    0% {left: 75%;}
    100% {left: 50%;}
}

@keyframes eu {
    0% {left: 25%;}
    100% {left: 50%;}
}

/* pré-animação (Montagem da tela de login) */
.Spotify{
    position: relative;
    top: 36px;
}

.LoginButton {
    position: relative;
    top: -36px;
    opacity: 0;
}

.login_img {
    animation: login_img 1s forwards;
}

.login_button {
    animation: login_button 1s forwards;
}

@keyframes login_img {
    0% {top: 36px;}
    100%{top: 0px;}
}

@keyframes login_button {
    0% {
        top: -36px;
        opacity: 0px;
    }
    100% {
        top: 10px;
        opacity: 1;
    }
}